<!DOCTYPE html>
<html>
<head>
    <title>Добавление массива</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Добавление массива</h1>
     <form action="postArray" method="POST">
        <label>Число 1</label>
        <input name="num1" type="number" min="0" max="99"/><br><br>
        <label>Число 2</label>
        <input name="num2" type="number" min="0" max="99" /><br><br>
        <label>Число 3</label>
        <input name="num3" type="number" min="0" max="99" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/arrays">К списку пользователей</a>
</body>   
</html>